@import "variables.css";
@import "responsive.css";
@import "typography.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

main {
    margin: 40px 80px 40px 80px;
    background-color: var(--dark);
}

button,
input[type="submit"] {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    color: var(--gray);
    background: var(--lighter);
    text-decoration: none;
    border: 2px solid var(--blue);
    width: 100%;
    margin: auto;
    transition: 0.2s ease-in;

}

button:hover,
input[type="submit"]:hover {
    background-color: var(--blue);
    color: var(--dark);
}

i {
    font-size: 11px;
}

li {
    margin-bottom: 10px;
}

/*---------------------- TopNav --------------------- */

.top-nav {
    background-color: var(--dark);
    padding: 25px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 10vh;
}

.top-nav i {
    color: var(--white);
}

.top-logo {
    width: 15px;
    height: 15px;
}

.modeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--lighter);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.modeBtn:hover {
    background-color: var(--blue);
}

.modeBtn i {
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--gray);
    font-size: 20px;
}

.modeBtn i:last-child {
    display: none;
}

.lightmode .modeBtn i:first-child {
    display: none;
}

.lightmode .modeBtn i:last-child {
    display: block;
    top: 5px;
    left: 8px;
}

.menu {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 100;
    color: var(--gray);
    gap: 15px;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    z-index: 1;
    background-color: var(--lighter);
    position: absolute;
    top: 60px;
    right: 20px;
    display: none;
}

.menu a {
    color: var(--gray);
    text-decoration: none;
    transition: 0.2s ease-in;
}

.menu a:hover {
    color: var(--blue);
    cursor: pointer;
}

.menu-icon {
    display: flex;
    color: var(--gray);
    font-size: 17px;
    cursor: pointer;
}

.active {
    color: var(--blue);
}

/*---------------------- Header --------------------- */

header {
    width: 100%;
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 11vw), 0 100%);
    padding-bottom: 100px;
}

header h1 {
    font-size: 40px;
}

#headerInfo {
    padding: 50px;
    display: grid;
    justify-content: center;
    gap: 40px;
}

#headerInfo h2 {
    text-align: left;
}

.ProfilePicture {
    object-fit: cover;
    border-radius: 43% 57% 32% 68% / 50% 60% 40% 50%;
    width: 360px;
    margin: auto;
}

.AboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutMe p {
    margin-top: 10px;
    text-align: justify;
}

.buttons {
    display: grid;
    gap: 20px;
    margin-top: 30px;
    width: 17rem;
}

#cvBtn {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 40px;
    border: 2px solid var(--blue);
    background-color: var(--dark);
    color: var(--gray);
    transition: 0.2s ease-in;
}

#projectsBtn {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 12px 40px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--gray);
    transition: 0.2s ease-in;
}

#cvBtn a:visited {
    text-decoration: none;
}

#cvBtn a:active {
    text-decoration: none;
}

#cvBtn:hover {
    background-color: #76ABAE;
    color: var(--dark);
}

#projectsBtn:hover {
    background-color: #76ABAE;
    color: var(--dark);
}


/*---------------------- Skills--------------------- */

#skills-section {
    background-color: var(--lighter);
    margin-top: -11vw;
    padding: 50px;
    padding: 110px 60px 60px 60px;
}

.skills-container {
    display: grid;
    gap: 60px;
}

.tech-skills {
    display: grid;
    width: 100%;
}

.skills-container h2 {
    margin-bottom: 15px;
}

.knowledge-areas {
    display: grid;
    width: 100%;
}

.line {
    height: 10px;
    max-width: 800px;
    line-height: 35px;
    font-size: 15px;
    color: white;
    position: relative;
    background: var(--dark);
    border-radius: 50px;
    font-weight: 900;
    margin: 10px 0 25px 0;
}

.line::after {
    content: '';
    background: var(--blue);
    height: 10px;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.line1::after {
    max-width: 80%;
}

.line2::after {
    max-width: 60%;
}

.line3::after {
    max-width: 55%;
}

.line4::after {
    max-width: 50%;
}

.line5::after {
    max-width: 90%;
}

.line6::after {
    max-width: 65%;
}

.line7::after {
    max-width: 85%;
}

.line8::after {
    max-width: 90%;
}

.line9::after {
    max-width: 80%;
}

.line10::after {
    max-width: 60%;
}

.line11::after {
    max-width: 50%;
}

.line12::after {
    max-width: 40%;
}


@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/*---------------------- Projects --------------------- */

#projects-section {
    padding: 60px 40px;
}

.projects-container {
    display: grid;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}

.card {
    background-color: var(--lighter);
    height: 100%;
    width: 350px;
    align-items: left;
    padding: 25px 20px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    p {
        margin-top: 20px;
        text-align: left;
        height: 50px;
    }

    .icons {
        display: flex;
        gap: 10px;
    }

    i {
        font-size: 30px;
    }
}


.card:hover {
    transform: scale(1.01) translateY(-2px);
}

.modalBtn {
    background: var(--blue);
    cursor: pointer;
}

.gitBtn {
    cursor: pointer;
}

.cardBtns {
    padding-top: 20px;
    display: grid;
    gap: 10px;
}

.cardBtns i {
    font-size: 11px;
}


/*---------------------- Modals --------------------- */

.modal-overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.modal {
    width: 90vw;
    background-color: var(--lighter);
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 5%;
    z-index: 100;
}

span {
    color: var(--gray);
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.content {
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.modal img {
    height: 200px;
}

.modal button {
    width: 250px;
    cursor: pointer;
}

.is-open {
    display: flex !important;
}

/*---------------------- CV --------------------- */

#cv-section {
    width: 100vw;
    background-color: var(--dark);
    padding: 40px 50px;
    text-align: center;
}

.full-resume-container {
    display: grid;
    justify-content: center;
    margin-top: 40px;
    text-align: left;
}

.full-resume-container h3 {
    text-align: left;
}

.resume-heading {
    text-align: center;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-bottom: 40px;
}

.education-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: left;
    margin-bottom: 40px;
}

.timeline {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-left: 1.2px solid var(--gray);
}

.experience {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    display: block;
    position: relative;
}

.education {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
    display: block;
    position: relative;
}

.circle {
    background-color: var(--blue);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 1.2px solid var(--gray);
    margin-right: 20px;
    position: absolute;
    left: -28px;
    top: 25px;
}

.description ul {
    margin-top: 10px;
}

/*---------------------- About --------------------- */

#about-section {
    background-color: var(--dark);
    display: grid;
    gap: 50px;
    padding: 40px;
    justify-content: center;
}

#about-picture {
    object-fit: cover;
    width: 330px;
    border-radius: 70% 44% 63% 44% / 74% 48% 54% 36%;
    margin: auto;
}

.about-text h3 {
    text-align: center;
    margin-bottom: 30px;
}

.about-text p {
    text-align: justify;
    margin-bottom: 30px;
    border-left: 1.5px solid var(--blue);
    padding-left: 30px;
}


/*---------------------- Contact --------------------- */

#contact {
    padding: 50px;
    background-color: var(--dark);
}

#form h2 {
    text-align: left;
    margin-bottom: 15px;
}

#contact h4 {
    text-align: left;
}

.contact-container {
    display: grid;
    gap: 30px;
    justify-content: center;
}

#contact-picture {
    object-fit: cover;
    width: 330px;
    border-radius: 70% 44% 63% 44% / 74% 48% 54% 36%;
    margin: auto;
}

form {
    display: grid;
    gap: 10px;
}

#femail, #fname {
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    border: 1.5px solid var(--gray);
    resize: vertical;
    padding: 8px 10px;
    font-weight: 200;
    background-color: var(--dark);
    color: var(--gray);
}

#subject {
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    height: 100px;
    border: 1.5px solid var(--gray);
    resize: vertical;
    padding: 8px 10px;
    font-weight: 200;
    background-color: var(--dark);
    color: var(--gray);
}

#fsubmit {
    background-color: var(--blue);
}

#fsubmit:hover {
    background-color: var(--dark);
    color: var(--gray);
    cursor: pointer;
}

#message-sent {
    text-align: center;
}

/*---------------------- Footer --------------------- */

footer {
    padding: 80px 0 50px 0;
    height: 25vh;
    text-align: center;
    background-color: var(--lighter);
    clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
}

.links {
    height: 12%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.links a {
    color: var(--gray);
}

footer p {
    color: var(--gray);
    text-align: center;
    font-weight: 300;
}

.logo {
    color: var(--gray);
    transition: 0.2s ease-in;
}

.logo i {
    font-size: 20px;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*---------------------- Extra classes --------------------- */

.visible {
    display: block;
}

.menu.show {
    display: grid;
}