@import "/css/variables.css";
@import "/css/responsive.css";
@import "/css/typography.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--dark);
}

main {
    margin: 40px 80px 40px 80px;
    background-color: var(--dark);
}

button, input[type="submit"] {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    color: var(--gray);
    background: var(--lighter);
    text-decoration: none;
    border: 2px solid var(--blue);
    width: 100%;
    margin: auto;
    transition: 0.2s ease-in;
}

button:hover, input[type="submit"]:hover {
    background-color: var(--blue);
    color: var(--dark);
}

i {
    font-size: 11px;
}

/*---------------------- TopNav --------------------- */


.top-nav {
    background-color: var(--dark);
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 10vh;

}

.top-nav i {
    color: var(--white);
}

.top-logo {
    width: 15px;
    height: 15px;
}

.modeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--lighter);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.modeBtn:hover {
    background-color: var(--blue);
}

.modeBtn i {
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--gray);
    font-size: 20px;
}

.modeBtn i:last-child {
    display: none;
}

.lightmode .modeBtn i:first-child {
    display: none;
}

.lightmode .modeBtn i:last-child {
    display: block;
    top: 5px;
    left: 8px;
}

.menu {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 100;
    color: var(--gray);
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: var(--gray);
    text-decoration: none;
    transition: 0.2s ease-in;

}

.menu a:hover {
    color: var(--blue);
    cursor: pointer;
}

.menu a:active {
    color: var(--gray);
}

.menu-icon {
    display: none;
    color: var(--gray);
}

.active {
    color: var(--blue);
}

/*---------------------- Header --------------------- */

header {
    width: 100%;
    height: 90vh;
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 11vw), 0 100%);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#headerInfo {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -100px;

}

#headerInfo h2 {
    text-align: left;
}

.ProfilePicture {
    object-fit: cover;
    border-radius: 43% 57% 32% 68% / 50% 60% 40% 50%;
    height: 350px;

}

.AboutMe {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AboutMe p {
    margin-top: 10px;
    width: 41vw;
    text-align: justify;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
}

#cvBtn {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 40px;
    border: 2px solid var(--blue);
    background-color: var(--dark);
    color: var(--gray);
    transition: 0.2s ease-in;
}

#projectsBtn {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 12px 40px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--gray);
    transition: 0.2s ease-in;
}

#cvBtn a:visited {
    text-decoration: none;
}

#cvBtn a:active {
    text-decoration: none;
}

#cvBtn:hover {
    background-color: #76ABAE;
    color: var(--dark);
}

#projectsBtn:hover {
    background-color: #76ABAE;
    color: var(--dark);
}


/*---------------------- Skills--------------------- */

#skills-section {
    background-color: var(--lighter);
    margin-top: -11vw;
    padding: 40px;
    padding-top: 180px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.tech-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.knowledge-areas {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line {
    height: 15px;
    max-width: 800px;
    line-height: 35px;
    font-size: 15px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
    background: var(--dark);
    border-radius: 50px;
    font-weight: 900;
    margin: 10px 0 15px 0;
}

.line::after {
    content: '';
    background: var(--blue);
    height: 15px;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.line1::after {
    max-width: 80%;
}

.line2::after {
    max-width: 60%;
}

.line3::after {
    max-width: 55%;
}

.line4::after {
    max-width: 50%;
}

.line5::after {
    max-width: 90%;
}

.line6::after {
    max-width: 65%;
}

.line7::after {
    max-width: 85%;
}

.line8::after {
    max-width: 90%;
}

.line9::after {
    max-width: 80%;
}

.line10::after {
    max-width: 60%;
}

.line11::after {
    max-width: 50%;
}

.line12::after {
    max-width: 40%;
}


@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/*---------------------- Projects --------------------- */

#projects-section {
    padding: 60px 40px;
}

.projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: var(--lighter);
    height: 100%;
    width: 350px;
    align-items: left;
    padding: 25px 20px;

    display: flex;
    justify-content: stretch;
    flex-direction: column;
    font-size: 14px;
    transition: 0.2s ease-in-out;

    p {
        margin-top: 20px;
        text-align: left;
        height: 50px;
    }

    i {
        font-size: 35px;
        margin-right: 10px;
        color: var(--gray);
    }
}

.card:hover{
    transform: scale(1.01) translateY(-2px);
}

.modalBtn {
    background: var(--blue);
}

.cardBtns {
    padding-top: 20px;
    display: grid;
    gap: 10px;
}

.cardBtns i {
    font-size: 11px;
}

/*---------------------- CV --------------------- */

#cv-section {
    width: 100vw;
    background-color: var(--dark);
    padding: 40px 50px;
    text-align: center;
}

.full-resume-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: left;
}

.full-resume-container h3 {
    text-align: left;
}

.resume-heading {
    text-align: center;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-bottom: 40px;
}

.education-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: left;
    margin-bottom: 40px;
}

.timeline {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-left: 1.5px solid var(--gray);
}

.experience {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    display: block;
    position: relative;
}

.education {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 50px;
    display: block;
    position: relative;
}


.circle {
    background-color: var(--blue);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 1.5px solid var(--gray);
    margin-right: 20px;
    position: absolute;
    left: -28px;
    top: 25px;
}

/*---------------------- About --------------------- */

#about-section {
    background-color: var(--dark);
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 70vh;
    width: 70vw;
    margin: auto;
}

#about_picture {
    width: 320px;
    object-fit: cover;
    border-radius: 62% 38% 55% 45% / 50% 33% 67% 50%;
}

.about_text h3 {
    text-align: center;
    margin-bottom: 30px;
}

.about_text p {
    text-align: justify;
    margin-bottom: 30px;
}


/*---------------------- Contact --------------------- */

#contact {
    padding: 50px;
    height: 70vh;
    background-color: var(--dark);
}

#form h2 {
    text-align: left;
    margin-bottom: 20px;
}

#contact h4 {
    text-align: left;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#about_picture {
    width: 350px;
    object-fit: cover;
}

form{
    display: grid;
    gap: 10px;
}

#femail {
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    border: 1.5px solid var(--gray);
    resize: vertical;
    padding: 5px 10px;
    font-weight: 200;
    background-color: var(--dark);
    color: var(--gray);
}

#subject {
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    height: 100px;
    border: 1.5px solid var(--gray);
    resize: vertical;
    padding: 5px;
    font-weight: 200;
    background-color: var(--dark);
    color: var(--gray);
}

#fsubmit {
    background-color: var(--blue);
}

#fsubmit:hover {
    background-color: var(--dark);
    color: var(--gray);
    cursor: pointer;
}


/*---------------------- Footer --------------------- */

footer {
    padding-top: 40px;
    height: 20vh;
    text-align: center;
    background-color: var(--blue);
}

.links {
    height: 12%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.links a {
    color: #EEEEEE;
}

footer p {
    color: #EEEEEE;
    text-align: center;
    font-weight: 300;
}

.logo {
    color: #EEEEEE;
    transition: 0.2s ease-in;
}

.logo i {
    font-size: 20px;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}