body {
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 66px;
    font-weight: 700;
    letter-spacing: 8px;
    color: var(--gray);
    margin-bottom: 10px;
    margin-left: -4px;
}

h2 {
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    color: var(--blue);
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

h3 {
    font-size: 14px;
    color: var(--gray);
    text-align: center;
    line-height: 1.5;
    font-weight: 200;
}

h4 {
    font-size: 13px;
    color: var(--gray);
    font-weight: 100;
}

p {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: var(--gray);
    font-weight: 200;
}