:root {
    --dark: #222831;
    --lighter: #31363F;
    --blue: #76ABAE;
    --gray: #f5f5f5;
    --tags: #3c414a;
} 

.lightmode {
    --dark: #ffffff;
    --lighter: #f5f5f5;
    --blue: #76ABAE;
    --gray: #1d1d1d;
    --tags: #e8e8e8; 
}

.spacing {
    --small: 2rem;
    --medium: 3rem;
    --large: 5rem;
    --page-padding: 1rem 2rem;
}
